<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <modules>
            <add name="ManagedEngine" preCondition="integratedMode,runtimeVersionv2.0,bitness32" />
        </modules>
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="Python via PyISAPIe" />
            <add name="Python via PyISAPIe" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\pyisapie\PyISAPIe.dll" resourceType="File" requireAccess="Script" preCondition="bitness32" />
        </handlers>
    </system.webServer>
</configuration>
