<md-dialog aria-label="add (Field)">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Illegal operation<small> to your report</small></h2>
        <span flex></span>

      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
  <p> this is an illegal operation and cannot be permitted</p>
    </md-dialog-content>
    <md-dialog-actions layout="row" ng-controller="FieldsCtrl">

      <span flex></span>
      <md-button ng-click="answer('Cancel')" >
        Cancel
      </md-button>

    </md-dialog-actions>
  </form>
</md-dialog>