{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {% block report_header %}
    {% endblock %}
<link rel="stylesheet" href="{% static 'font-awesome.min.css' %}">
</head>

<body>
<md-content>
<header id="header" role="banner">
    <div id="logo"><a href="/intranet/" title="Home"><img src="{% static 'sites/default/files/logo.png' %}"></a></div>   
     <h1 id="site-title">Regional Service Centre </br> <small> Data Warehouse</small></h1>
    <div id="site-description"></div>
    <div class="clear"></div>
    <nav id="main-menu" role="navigation">
      <div class="menu-navigation-container">
              </div>
      <div class="clear"></div>
    </nav><!-- end main-menu -->
  </header>
  </md-content>
  <ng-content class="main-content-container" flex>
{% block content %}
{% endblock %}
</ng-content>
<footer> footer </footer>
</body>
</html>
